/* Inserta tu codigo aqui 
*{outline:1px solid rgba(255,0,0,0.1);}*/

.nosotros{
	background-image: url(../img/dance_7.jpg);
	background-repeat: no-repeat;
}
.fondo{
	width: 550px;
	height: 200px;
	margin-top: 100px;
	margin-bottom: 80px;
	margin-left: 400px;
	padding: 40px;
	background-color: #000;
	opacity: 0.5;
	color: white;
	text-align: center;
}
.pilares{
	padding: 50px 50px;
	background-image: url(../img/cubes.png);
}
.pilares .col-4{
	width: 250px;
	height: 200px;
	color: #A49D9D;
	margin-left: 120px;
	text-align: center;
}
.pilares h4{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pilares p{
	padding-top: 20px;
}
.uno{
	background-image: url(../img/profesor_4.jpg);
}
.dos{
	background-image: url(../img/profesor_14.jpg);
}
.tres{
	background-image: url(../img/profesor_1.jpg);
}
.cuatro{
	background-image: url(../img/profesor_10.jpg);
}
.cinco{
	background-image: url(../img/profesor_11.jpg);
}
.seis{
	background-image: url(../img/profesor_12.jpg);
}
.siete{
	background-image: url(../img/profesor_9.jpg);
}
.ocho{
	background-image: url(../img/profesor_15.jpg);
}
.img .col-3{
	background-size: cover;
	background-repeat: no-repeat;
	width: 220px;
	height: 150px;
	border: 5px solid white;
}
.instructores .texto{
	margin-top: 160px;
}
.instructores .img{
	margin: 20px 20px;
	padding-top: 80px;
	padding-bottom: 50px;
}
.instructores h1{
	margin-bottom: 80px;
	text-align: center;
}
.frase{
	background-image: url(../img/cubes.png);
	text-align: center;
	font-size: 15px;
	padding: 100px;
	margin-top:100px;